$bgColor: #e6e6e6;
$listColor: #bb2424;

$alert-success-bg: #dff0d8;
$alert-success-border: #d6e9c6;
$alert-danger-bg: #f2dede;
$alert-danger-border: #ebccd1;
$alert-warning-bg: #fcf8e3;
$alert-warning-border: #faebcc;
$alert-info-bg: #d9edf7;
$alert-info-border: #bce8f1;
