
.wrapper {
    .line {
        font: {
            font-family: "Lucida";
            size: 29px;
            weight: bold;
        }
        border: {
            width: 5px;
            color: red;
            style: solid
        }
    }

}