body{
    background-color:  gray;
}

@media screen and (max-width: 960px) {
    /* Primenjeno na manje od 960px */
    body {
        background-color: orange;
    }
}

@media screen and (max-width: 760px) {
    body {
        background-color: red;
    }
}

@media screen and (max-width: 560px) {
    body {
        background-color: yellow;
    }
}


@media screen and (max-width: 320px) {
    body {
        background-color: green;
    }
}
