nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: black;
    width: 20vw;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
}

nav ul li a:hover{
    background-color: green;
}

nav ul li a:active{
    background-color: purple;
    color: white;
}

.active{
    background-color: goldenrod;
    color: black;
}
